 <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class=" testimonials-carousel wow fadeInUp">
              {% for testimonial in testimonials %}
              <div class="testimonial-item">
                <img src="{{testimonial.avatar|split('public/')[1]}}" class="testimonial-img" alt="">
                <h3>{{testimonial.username}}</h3>
                <h4>{{testimonial.usertitle|raw}}</h4>
                <p>
                  {{testimonial.content}}
                </p>
              </div>
              {% endfor %}
            

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->